!!! 5
%html
  %head
    %title New Spar App
    [{ stylesheet_link_tag(application) }]
    
  %body
    #wrap
      %img{src: "[{ path_to(spar.png) }]", width: 200}
      #summary
        %h1 Spar
        %h2 Welcome to your new Spar app.
        %p 
          If you have any questions, please checkout out the 
          %a{href: "https://github.com/GoBoundless/spar", target: "_blank"} README
          on Github. Have Fun!

    [{ javascript_include_tag(application) }]
