!!! Strict
%html
  %head
    %title Spar App
    %link{:rel => "stylesheet", :href => stylesheet_path('application')}
    %script{:src => javascript_path('application')}
  %body
    %h1
      Nice app!
    %h2
      Point LiveReload to the directory of this project if you want to use it. No extensions or JS required.
