!!! Strict
%html
  %head
    %title Spar App
    [{ stylesheet_link_tag(application) }]
  %body
    %h1
      Nice app!
    %h2
      Point LiveReload to the directory of this project if you want to use it. No extensions or JS required.
    [{ javascript_include_tag(application) }]
