!!! Strict
%html
  %head
    %title Spar App
    %link{:rel => "shortcut icon", :href => '/favicon.ico' }
    [{ stylesheet_link_tag(application) }]
  %body
    #main
      #header
        %img{:src => "[{ path_to(logo.png) }]"}
        %h1 Spar
        %h2 Single Page App Rocketship
        #background

      #intro
        %h2 Ignition

        %p
          Spar is an opinionated framework that aims to ease single-page web-app development by addressing the major challenges:
        
        %ul
          %li Asset organization
          %li Compilation pipeline
          %li Building &amp; deploying

        %p Spar is designed for apps primarily built with HTML, CSS &amp; Javascript, and thus is platform agnostic.

        :plain
          <p>We&#8217;ve got <a href='http://github.com/boundlesslearning/spar-examples'>some examples</a> to get you going.</p>

      #get-started
        %h2 Launch Codes
        :plain
          <pre>
            <code>gem install spar
            spar new YOUR_APP
            cd YOUR_APP
            spar server
            </code>
          </pre>

        %h2 Lift-off!
        :plain
          <pre>
            <code>
            spar deploy production
            </code>
          </pre>

      #contribute
        %h2 Mission Control
        %p A full mission brief can be found at <a href="http://github.com/boundlesslearning/spar"> our GitHub repo</a> here on planet Earth. 
        %p Issues, forks, and pull requests will be addressed in a timely fashion!
    :plain
      <a href="https://github.com/boundlesslearning/spar"><img style="position: fixed; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub"></a>

