// This is a manifest file that'll be compiled into application.css, which will include all the files
// listed below.

// Any CSS and SASS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
// or vendor/assets/stylesheets of gems, if any, can be referenced here using a relative path.

// You're free to add application-wide styles to this file and they'll appear at the top of the
// compiled file, but it's generally better to create a new file per style scope.

// = require_self
// = require_tree .

@import bootstrap
@import bootstrap-responsive
@import compass

h1,h2,h3,h4,h5,h6
  // font-family: kaushan-script,serif

@-webkit-keyframes STAR-MOVE 
  0%
    // +transform(translateX(0))
    left: 0
  100%  
    // +transform(translateX(-10000px))
    left: -10000px
  


#background 
  // display: none
  background: url(stars.png) repeat 75% 75% 
  position: absolute
  top: 0 
  left: 0 
  right: 0 
  bottom: 0
  z-index: 100
  +animation(STAR-MOVE 25s linear infinite)
  +background-size(800px)


#middleground 
  // display: none
  background: url(stars.png) repeat 25% 25%
  position: absolute
  top: 0 
  left: 0 
  right: 0 
  bottom: 0
  z-index: 200
  +animation(STAR-MOVE 25s linear infinite)
  +background-size(800px)

// #foreground 
//   background: url(foreground.png) repeat 35% 35%
//   position: absolute
//   top: 0 
//   left: 0 
//   right: 0 
//   bottom: 0
//   z-index: 300
//   -webkit-animation-name: STAR-MOVE
//   -webkit-animation-duration: 10s
//   -webkit-animation-timing-function: linear
//   -webkit-animation-iteration-count: infinite


#background,#foreground,#middleground
  +transition(10ms linear)
  opacity: .25
  
body
  

#header
  background-color: black
  color: #fafafa
  position: relative
  padding: 100px 0
  +border-radius(0)
  margin: 0
  .container
    position: relative
    z-index: 1000
  h1,h2
    padding-left: 220px
  // background-size:16px 16px

#logo
  // position: absolute
  // z-index: 1100
  // right: 0
  position: absolute
  top: -10px
  left: 0

#content
  +background(linear-gradient(#f9f9f9,#eee))
  +box-shadow(rgba(0,0,0,.1) 0 -1em 1em 1em inset)
  +text-shadow(rgba(255,255,255,1) 0 2px 0)
  .container
    padding-bottom: 80px
    padding-top: 50px
    p,li
      font-size: 18px
      line-height: 1.5
    p
      margin: 1em 0
    // font-size: 20px
    // line-height: 1.5